<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
your name: {{name}}
<form method="POST" action="/post">
    <input name='name' >
    <input type="submit" /><br>
    <textarea name="word" rows="20" cols="100"></textarea><br>
    <input type="file" value="">
</form>
