
      <div class="top-table">
        <p><b>基础信息</b></p>
        <table>
          <tr>
            <td>ID号：</td>
            <td></td>
            <td>姓名：</td>
            <td></td>
            <td>性别：</td>
            <td></td>
            <td>年龄：</td>
            <td></td>
          </tr>
          <tr>
            <td>时辰：</td>
            <td></td>
            <td>辰时：</td>
            <td></td>
            <td>当令经络：</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="data-model">
        <p><b>数据模块</b></p>
        <div class="data-canvas"></div>
      </div>
      <div class="data">
        <p><b>数据模块</b></p>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>经络</td>
            <td>值(降序)</td>
            <td>判断</td>
            <td>平衡</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="bottom">
        <ul>
          <li class="firstLi"><b>病症分析：</b></li>
          <li class="firstLi">手太阴肺经虚症</li>
          <li class="firstLi"><b>当令时辰：</b>寅时(3-5点)</li>
          <li class="firstLi">早上3-5点时段，肺经最旺，将肝贮藏解毒的新鲜血液输送到百脉。人在清晨面色红润，精力充沛，迎接新一天到来。</li>
          <li class="firstLi"><b>经络走向：</b></li>
          <li class="firstLi">手太阴肺经，从胸上循行肩臂内，下行循肘臂内侧至手大指内侧之端。</li>
          <li class="firstLi"><b>经络特点：</b></li>
          <li class="firstLi">肺经主管人的营气和呼吸系统。经络的机能下降时会引起头晕、胸闷、口干、咳嗽、喘息、颈部疲劳、手臂酸痹、手掌有热感等症状。</li>
          <li class="firstLi"><b>提示易发生症状：</b></li>
          <li class="firstLi">肺经虚症常见少气乏力，动则气喘，体虚易疲倦等。还易发生皮肤免疫力下降，易过敏等症状。同时还易出现肺经相关的四肢不温、手臂麻痹、咽干、咳嗽、短气等症。</li>
        </ul>
        <p><b>养生建议</b></p>
        <ul>
          <li class="firstLi"><b>常用穴位建议：</b></li>
          <li class="firstLi">中府      定喘    肺俞(实体机显示立体展示模块（闭环计划提示），报告单显示按摩或艾灸建议)</li>
          <li class="firstLi"><b>饮食调理建议：</b></li>
          <li class="firstLi">百合粥。百合50克，粳米l00克，冰糖80克，加水适量，共煮成粥。百合粥具有润肺止咳、养心安神、滋阴清热的作用。</li>
          <li class="firstLi"><b>运动调理——拍手法</b></li>
          <li class="firstLi">手太阴肺经上有11个穴位，这条经脉不畅，会表现为：肺部胀满、气喘、咳嗽、锁骨疼痛、肩背疼痛、小便发黄等。拍手疏通手太阴肺经，则可以治愈喉部、胸部和肺部疾病，如咳嗽、气喘、咳血、伤风、咽喉肿痛、肩背寒冷、胸痛、吐泻、痔疾等。</li>
          <li class="firstLi"><b>性格养生建议：</b></li>
          <li class="firstLi">暂无。</li>
          <li class="firstLi"><b>肺经五行属金：</b></li>
          <li class="firstLi">
            <p><b>金性性格阳性方面：</b>好义气。敬长尊贤，好善恶恶。知过必改。见善勇为。喜欢思考评判，有理智，做事敏捷果断。广交善缘，稳重自持，高瞻远瞩。做事体贴周到，懂得感恩。</p>
            <p><b>金性性格阴性方面：</b>爱计较，爱虚荣，善妒忌，喜变更，情绪急躁，难融。巧言令色，掩人善行。喜闻人过，好言人短。认识刻板固执，刻薄尖酸，喜欢以自我为中心，易恼人，让人烦恼。</p>
            <p><b>阴性性格对身体的影响：</b>恼人伤肺。咳嗽痰喘。气不足。易患慢性支气管炎、肺炎、肺结核、肩背痛、皮肤病等肺系统疾病以及肺燥引起的鼻咽干燥，肌肤缺水，便秘，肺里有痰引起咳嗽，呼吸不畅，声音嘶哑。秋冬季节病益加剧。</p>
            <p><b>性格转化建议：</b>金性性格阴性转化为阳性则须生出大义，遇事多找人好处，问性问响亮。常常如此有利于身心康健。</p>
          
          </li>
        </ul>
        <ul>
          <li class="firstLi"><b>天人合一模块</b></li>
        </ul>
        <table style="padding: 0;margin: 0">
          <tr>
            <td></td>
            <td>乙亥年</td>
            <td>八月初九</td>
            <td>秋分</td>
          </tr>
          <tr>
            <td style="text-align: right;padding-right: 10px;font-size: 20px">先</td>
            <td>岁运：少金</td>
          </tr>
          <tr>
            <td></td>
            <td>司天：厥阴风木</td>
            <td>在泉：少阳相火</td>
          </tr>
          <tr>
            <td style="text-align: right;padding-right: 10px;font-size: 20px">天</td>
            <td>四之气</td>
            <td>主气：阳明燥金</td>
          </tr>
          <tr>
            <td></td>
            <td>客气：太阴湿土</td>
          </tr>
        </table>
        <table style="padding: 0;margin: 0">
          <tr>
            <td></td>
            <td>丁酉年</td>
            <td>二月初二</td>
            <td>雨水</td>
          </tr>
          <tr>
            <td style="text-align: right;padding-right: 10px;font-size: 20px">后</td>
            <td>岁运：少木</td>
          </tr>
          <tr>
            <td></td>
            <td>司天：阳明燥金</td>
            <td>在泉：少阴君火</td>
          </tr>
          <tr>
            <td style="text-align: right;padding-right: 10px;font-size: 20px">天</td>
            <td>初之气</td>
            <td>主气：厥阴风木</td>
          </tr>
          <tr>
            <td></td>
            <td>客气：太阴湿土</td>
          </tr>
        </table>
        <ul style="margin-top: 170px">
          <li class="firstLi"><b>先天体质分析报告：</b></li>
          <li class="firstLi">根据您的出生日期：年干属于金运太过。</li>
          <li class="firstLi"><b>对人体影响：</b></li>
          <li class="firstLi">金运太过，燥气流行，肝木受克，要注意肝胆，心脏循环系统疾病。</li>
          <li class="firstLi"><b>身体特点：</b></li>
          <li class="firstLi">强金型体质，《黄帝内经》说：“岁金太过，燥气流行，肝木受邪”。容易肝郁，重点在疏肝。</li>
          <li class="firstLi"><b>饮食调理建议：</b></li>
          <li class="firstLi">多吃绿色和黑色的食物。多吃大枣、小米粥、十谷米养生粥、松花粉、胡萝卜等有益于肝气调达。</li>
          <li class="firstLi"><b>情志调理建议：</b></li>
          <li class="firstLi">平和、不抱怨。</li>
          <li class="firstLi"><b>现在分析 </b></li>
          <li class="firstLi">土运太过，雨湿流行，肾水受到伤害。人多患腹痛、四肢厥冷，精神抑郁，身体沉重，烦闷等疾病。土气太盛就会发生肌肉痿缩，两足痿软，行走时容易抽掣，足底疼痛，水饮蓄积于中，饮食减少，四肢不能举动。在人就会病患腹胀、溏泄、肠鸣等症。 </li>
        </ul>
      </div>